<div class="section-space-top section-space-md-bottom">
  <div class="container">
    <div class="row g-4 align-items-center justify-content-center">
      <div class="col-md-6 col-xl-3">
        <div class="d-flex align-items-center gap-4">
          <div class="flex-shrink-0">
            <img
              src="assets/img/icon-info-1.png"
              alt="image"
              class="img-fluid"
            />
          </div>
          <div class="flex-grow-1">
            <h6 class="mb-1">Free Shipping</h6>
            <p class="mb-0">Free Shipping over $100</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="d-flex align-items-center gap-4">
          <div class="flex-shrink-0">
            <img
              src="assets/img/icon-info-2.png"
              alt="image"
              class="img-fluid"
            />
          </div>
          <div class="flex-grow-1">
            <h6 class="mb-1">Secure Payment</h6>
            <p class="mb-0">100% Secure Payment</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="d-flex align-items-center gap-4">
          <div class="flex-shrink-0">
            <img
              src="assets/img/icon-info-3.png"
              alt="image"
              class="img-fluid"
            />
          </div>
          <div class="flex-grow-1">
            <h6 class="mb-1">Flexible payment</h6>
            <p class="mb-0">Pay with multiple cards</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="d-flex align-items-center gap-4">
          <div class="flex-shrink-0">
            <img
              src="assets/img/icon-info-4.png"
              alt="image"
              class="img-fluid"
            />
          </div>
          <div class="flex-grow-1">
            <h6 class="mb-1">24/7 Support</h6>
            <p class="mb-0">Support 24 Hours a Day</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
