<div class="section-space-y bg-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="swiper feedback-slider">
          <div class="swiper-wrapper-ngb-carousel">
            <ngb-carousel
              [showNavigationArrows]="false"
              [showNavigationIndicators]="false"
              [interval]="3000"
            >
              @for (slide of slides; track slide.img+index; let index = $index)
              {
              <ng-template ngbSlide>
                <div class="swiper-slide">
                  <div class="text-center">
                    <div class="mb-12">
                      <img
                        [src]="slide.img"
                        alt="image"
                        class="img-fluid"
                      />
                    </div>
                    <h3 class="text-white mb-12" [innerHTML]="slide.text">
                    </h3>
                    <p class="text-white max-text-20 mx-auto mb-8">
                            {{slide.description}}
                    </p>
                    <span class="d-block text-white">- {{slide.user}}</span>
                  </div>
                </div>
              </ng-template>
              }
            </ngb-carousel>
          </div>
          <div class="swiper-button-prev feedback-slider__prev"></div>
          <div class="swiper-button-next feedback-slider__next"></div>
        </div>
      </div>
    </div>
  </div>
</div>
