<div class="section-space-y">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4 col-lg-3">
        <ul class="list gap-12 me-md-6">
          <li>
            <div class="mb-4 pb-2 border-bottom">
              <h6 class="fw-normal mb-0">CATEGORIES</h6>
            </div>
            <ul class="list gap-3">
              @for (filter of filters; track filter.name) {
              <li>
                <a
                  routerLink="/shop"
                  class="link d-inline-block text-body hover:text-primary"
                  >{{ filter.name }}</a
                >
              </li>
              }
            </ul>
          </li>
          <li>
            <div class="mb-4 pb-2 border-bottom">
              <h6 class="fw-normal mb-0">PRICES</h6>
            </div>
            <ul class="list gap-3">
              @for (filterLabel of productPriceFilters; track filterLabel) {
              <li>
                <div
                  class="form-check form-check-modifier form-check--primary gap-2"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="price-1"
                  />
                  <label class="form-check-label" for="price-1">{{
                    filterLabel
                  }}</label>
                </div>
              </li>
              }
            </ul>
          </li>
          <li>
            <div class="mb-4 pb-2 border-bottom">
              <h6 class="fw-normal mb-0">Rating</h6>
            </div>
            <ul class="list gap-3">
              @for(ratingFilter of productRatingFilters; track
              ratingFilter.label) {
              <li>
                <div
                  class="form-check form-check-modifier form-check--primary gap-2"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="rating-1"
                  />
                  <label class="form-check-label" for="rating-1">
                    <span class="d-flex align-items-center gap-1">
                      @for (filledSeq of getArray(ratingFilter.star); track
                      filledSeq) {
                      <span class="d-inline-block text-warning flex-shrink-0"
                        ><i class="bi bi-star-fill"></i>
                      </span>
                      } @for (filledSeq of getArrayFrom(ratingFilter.star);
                      track filledSeq) {
                      <span class="d-inline-block text-secondary flex-shrink-0"
                        ><i class="bi bi-star-fill"></i>
                      </span>
                      }
                      <span class="d-inline-block flex-shrink-0 fs-14">{{
                        ratingFilter.label
                      }}</span></span
                    ></label
                  >
                </div>
              </li>
              }
            </ul>
          </li>
          <li>
            <div class="mb-4 pb-2 border-bottom">
              <h6 class="fw-normal mb-0">SIZE</h6>
            </div>
            <ul class="list gap-3">
              @for (size of productSizeFilters; track size; let index = $index){
              <li>
                <div
                  class="form-check form-check-modifier form-check--primary gap-2"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="size-{{ index }}"
                  />
                  <label class="form-check-label" for="size-1">{{
                    size
                  }}</label>
                </div>
              </li>
              }
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-8 col-lg-9">
        <div class="mb-12">
          <div class="row g-3 justify-content-between align-items-center">
            <div class="col-md-5">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search Here"
                />
                <span class="input-group-text rounded-end-1"
                  ><i class="bi bi-search"></i
                ></span>
              </div>
            </div>
            <div class="col-md-4">
              <select class="form-select product-filter ms-md-auto"
                ><option value="1">Price</option
                ><option value="2">Rating</option
                ><option value="3">Popular</option></select
              >
            </div>
          </div>
        </div>
        <div class="row g-4">
          @for (product of products; track product.id) {
          <div class="col-md-6 col-lg-4">
            <div class="card product-card border-0">
              <div class="card-body p-0">
                <div class="position-relative z-1 overflow-hidden">
                  <a routerLink="/product-details" class="link d-block w-100"
                    ><img
                      [src]="product.img"
                      alt="image"
                      class="img-fluid w-100"
                  /></a>
                  <div
                    class="product-card__cart-nav d-flex flex-column align-items-center justify-content-center gap-2 position-absolute top-50 start-0 end-0 transition"
                  >
                    <a routerLink="/cart" class="link btn btn-sm btn-light"
                      ><i class="bi bi-cart3"></i> Add to Cart </a
                    ><a
                      routerLink="/product-details"
                      class="btn btn-sm btn-light"
                      ><i class="bi bi-eye-fill"></i> View Detail</a
                    >
                  </div>
                  <button
                    type="button"
                    class="btn btn-icon btn-light rounded-circle flex-shrink-0 text-dark position-absolute top-4 end-4"
                  >
                    <i class="bi bi-heart"></i>
                  </button>
                </div>
                <div class="p-4">
                  <div
                    class="hstack justify-content-between align-items-center gap-3 mb-4"
                  >
                    <h6 class="mb-0 flex-grow-1">
                      <a
                        routerLink="/product-details"
                        class="link d-inline-block text-dark hover:text-primary"
                        >{{ product.name }}</a
                      >
                    </h6>
                    <ngb-rating [rate]="5" [max]="5"/>
                  </div>
                  <span class="d-block fw-medium">$150</span>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
        <div class="mt-12">
          <nav aria-label="Page navigation example">
            <ul
              class="pagination pagination-circle justify-content-center gap-3"
            >
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="bi bi-chevron-left"></i
                ></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="bi bi-chevron-right"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
