<div class="section-space-y banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Product</h1>
        <ul class="list list-row gap-4 flex-wrap align-items-center">
          <li>
            <a
              routerLink="/index-2"
              class="link d-inline-block text-dark hover:text-primary"
              >Home</a
            >
          </li>
          <li class="text-center">
            <span class="d-inline-block"
              ><img [src]="bannerImg" alt="image" class="img-fluid"
            /></span>
          </li>
          <li>
            <a
              routerLink="/shop"
              class="link d-inline-block text-dark hover:text-primary"
              >Product</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
