<div class="section-space-y banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Contact</h1>
        <ul class="list list-row gap-4 flex-wrap align-items-center">
          <li>
            <a
              routerLink="/index-2"
              class="link d-inline-block text-dark hover:text-primary"
              >Home</a
            >
          </li>
          <li class="text-center">
            <span class="d-inline-block"
              ><img src="assets/img/icon-star.png" alt="image" class="img-fluid"
            /></span>
          </li>
          <li>
            <a
              routerLink="/contact"
              class="link d-inline-block text-dark hover:text-primary"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="section-space-y">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <div class="card border-0 bg-body-tertiary">
          <div class="card-body p-xl-10">
            <ul class="list list-flush list-review">
              <li>
                <div class="d-flex align-items-center gap-4 mb-6">
                  <div
                    class="w-12 h-12 flex-shrink-0 rounded-circle d-grid place-content-center bg-primary text-white fs-18"
                  >
                    <i class="bi bi-telephone"></i>
                  </div>
                  <h6 class="flex-grow-1 mb-0">Call To Us</h6>
                </div>
                <p>We are available 24/7, 7 days a week.</p>
                <span class="d-block">Phone: +8801611112222</span>
              </li>
              <li>
                <div class="d-flex align-items-center gap-4 mb-6">
                  <div
                    class="w-12 h-12 flex-shrink-0 rounded-circle d-grid place-content-center bg-primary text-white fs-18"
                  >
                    <i class="bi bi-envelope"></i>
                  </div>
                  <h6 class="flex-grow-1 mb-0">Write To US</h6>
                </div>
                <p>
                  Fill out our form and we will contact you within 24 hours.
                </p>
                <span class="d-block">Emails: mailatexample.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h2>Get In Touch</h2>
        <form class="row g-4">
          <div class="col-md-6 col-xl-4">
            <input
              type="text"
              class="form-control form-control-lg fs-14 bg-body-tertiary"
              placeholder="Your Name"
            />
          </div>
          <div class="col-md-6 col-xl-4">
            <input
              type="email"
              class="form-control form-control-lg fs-14 bg-body-tertiary"
              placeholder="Your Email"
            />
          </div>
          <div class="col-xl-4">
            <input
              type="text"
              class="form-control form-control-lg fs-14 bg-body-tertiary"
              placeholder="Your Phone"
            />
          </div>
          <div class="col-12">
            <textarea
              class="form-control form-control-lg fs-14 bg-body-tertiary"
              rows="7"
              placeholder="Your Massage"
            ></textarea>
          </div>
          <div class="col-12">
            <button type="button" class="btn btn-primary rounded-1 text-white">
              <span class="d-inline-block">Send Message </span
              ><span class="d-inline-block"
                ><i class="bi bi-arrow-up-right"></i
              ></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
