<div class="section-space-y blog-section">
  <div class="section-space-md-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6 text-center">
          <h2 class="h3">Recent Blog</h2>
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-4">
        @for (blog of blogs; track blog.img) {
            <div class="col-md-6 col-lg-4">
                <div class="rounded p-6 position-relative z-1 overflow-hidden">
                    <img
                    [src]="blog.img"
                    alt="image"
                    class="w-100 h-100 object-fit-cover position-absolute inset-0 z-n1"
                    />
                    <div
                    class="w-15 h-15 bg-dark bg-opacity-80 text-white rounded-1 d-grid place-content-center mb-30"
                    >
                    <span class="d-block fw-semibold">{{blog.date.day}}</span>
                    <span class="d-block fs-14">{{blog.date.month}}</span>
                    </div>
                    <div class="rounded bg-dark bg-opacity-90 p-6">
                    <div class="d-flex align-items-center gap-3 mb-5">
                        <div
                        class="d-grid place-content-center w-12 h-12 rounded-circle overflow-hidden flex-shrink-0"
                        >
                        <img
                            [src]="blog.user.img"
                            alt="image"
                            class="w-100 h-100 object-fit-cover"
                        />
                        </div>
                        <span class="d-block fw-medium text-white">{{blog.user.name}}</span>
                    </div>
                    <span class="d-block text-white mb-2">{{blog.info.title}}</span>
                    <h5>
                        <a
                        routerLink="/blog-details"
                        class="link d-inline-block text-white hover:text-primary"
                        >{{blog.info.heading}}</a
                        >
                    </h5>
                    <p class="text-white line-clamp line-clamp--2">
                        {{blog.info.description}}
                    </p>
                    <a
                        routerLink="/blog-details"
                        class="link d-inline-block fw-medium text-primary hover:text-white"
                        >Read More</a
                    >
                    </div>
                </div>
            </div>
        }     
    </div>
  </div>
</div>
