<div class="section-space-md-top section-space-bottom">
  <div class="section-space-md-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 text-center">
          <h2>Client’s Feedback</h2>
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-12">
        <div class="swiper feedback-slider-3">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="feedback-slider-3__card feedback-slider-3__card-1 section-space-y text-center"
              >
                <div class="mb-8">
                  <img
                    src="assets/img/icon-quote-dark.png"
                    alt="image"
                    class="img-fluid"
                  />
                </div>
                <p class="text-dark fs-24 fw-semibold mb-8 max-text-11 mx-auto">
                  ‘’Kapra creates an ongoing visual and audible experience
                  across our business and enables our employees to feel part of
                  a unified culture and company.’’
                </p>
                <div
                  class="d-flex align-items-center justify-content-center gap-3"
                >
                  <div class="flex-shrink-0">
                    <img
                      src="assets/img/user-2.png"
                      alt="image"
                      class="img-fluid"
                    />
                  </div>
                  <div class="text-start">
                    <span class="d-block text-dark fw-semibold"
                      >Cameron Williamson </span
                    ><span class="d-block fw-semibold fs-12"
                      >Marketing Coordinator</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="feedback-slider-3__card feedback-slider-3__card-2 section-space-y text-center"
              >
                <div class="mb-8">
                  <img
                    src="assets/img/icon-quote-dark.png"
                    alt="image"
                    class="img-fluid"
                  />
                </div>
                <p class="text-dark fs-24 fw-semibold mb-8 max-text-11 mx-auto">
                  ‘’Kapra creates an ongoing visual and audible experience
                  across our business and enables our employees to feel part of
                  a unified culture and company.’’
                </p>
                <div
                  class="d-flex align-items-center justify-content-center gap-3"
                >
                  <div class="flex-shrink-0">
                    <img
                      src="assets/img/user-2.png"
                      alt="image"
                      class="img-fluid"
                    />
                  </div>
                  <div class="text-start">
                    <span class="d-block text-dark fw-semibold"
                      >Cameron Williamson </span
                    ><span class="d-block fw-semibold fs-12"
                      >Marketing Coordinator</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="feedback-slider-3__card feedback-slider-3__card-3 section-space-y text-center"
              >
                <div class="mb-8">
                  <img
                    src="assets/img/icon-quote-dark.png"
                    alt="image"
                    class="img-fluid"
                  />
                </div>
                <p class="text-dark fs-24 fw-semibold mb-8 max-text-11 mx-auto">
                  ‘’Kapra creates an ongoing visual and audible experience
                  across our business and enables our employees to feel part of
                  a unified culture and company.’’
                </p>
                <div
                  class="d-flex align-items-center justify-content-center gap-3"
                >
                  <div class="flex-shrink-0">
                    <img
                      src="assets/img/user-2.png"
                      alt="image"
                      class="img-fluid"
                    />
                  </div>
                  <div class="text-start">
                    <span class="d-block text-dark fw-semibold"
                      >Cameron Williamson </span
                    ><span class="d-block fw-semibold fs-12"
                      >Marketing Coordinator</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="feedback-slider-3__card feedback-slider-3__card-2 section-space-y text-center"
              >
                <div class="mb-8">
                  <img
                    src="assets/img/icon-quote-dark.png"
                    alt="image"
                    class="img-fluid"
                  />
                </div>
                <p class="text-dark fs-24 fw-semibold mb-8 max-text-11 mx-auto">
                  ‘’Kapra creates an ongoing visual and audible experience
                  across our business and enables our employees to feel part of
                  a unified culture and company.’’
                </p>
                <div
                  class="d-flex align-items-center justify-content-center gap-3"
                >
                  <div class="flex-shrink-0">
                    <img
                      src="assets/img/user-2.png"
                      alt="image"
                      class="img-fluid"
                    />
                  </div>
                  <div class="text-start">
                    <span class="d-block text-dark fw-semibold"
                      >Cameron Williamson </span
                    ><span class="d-block fw-semibold fs-12"
                      >Marketing Coordinator</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev feedback-slider-3__prev">
            <i class="bi bi-arrow-left"></i>
          </div>
          <div class="swiper-button-next feedback-slider-3__next">
            <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
