<div class="section-space-md-y">
    <div class="section-space-md-bottom">
      <div class="container">
        <div class="row g-4 align-items-center">
          <div class="col-md-8">
            <h2 class="mb-0">Shop By Categories</h2>
          </div>
          <div class="col-md-4">
            <div
              class="slider-nav slider-nav--static d-flex flex-wrap gap-4 justify-content-md-end"
            >
              <div
                class="swiper-button-prev slider-nav__prev category-slider-prev border border-dark rounded text-dark fs-24 hover:bg-dark hover:text-white transition"
              >
                <i class="bi bi-arrow-left"></i>
              </div>
              <div
                class="swiper-button-next slider-nav__next category-slider-next border border-dark rounded text-dark fs-24 hover:bg-dark hover:text-white transition"
              >
                <i class="bi bi-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="swiper category-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card border-0 shadow mb-2">
                  <div class="card-body p-6">
                    <div
                      class="w-8 h-8 d-grid place-content-center rounded-circle bg-secondary"
                    >
                      <img
                        src="assets/img/icon-category-1.png"
                        alt="image"
                        class="img-fluid"
                      />
                    </div>
                    <h6 class="mt-4 mb-2">Cloth</h6>
                    <p class="mb-0 fs-14">512 Items</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 shadow mb-2">
                  <div class="card-body p-6">
                    <div
                      class="w-8 h-8 d-grid place-content-center rounded-circle bg-secondary"
                    >
                      <img
                        src="assets/img/icon-category-2.png"
                        alt="image"
                        class="img-fluid"
                      />
                    </div>
                    <h6 class="mt-4 mb-2">Shoes</h6>
                    <p class="mb-0 fs-14">512 Items</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 shadow mb-2">
                  <div class="card-body p-6">
                    <div
                      class="w-8 h-8 d-grid place-content-center rounded-circle bg-secondary"
                    >
                      <img
                        src="assets/img/icon-category-3.png"
                        alt="image"
                        class="img-fluid"
                      />
                    </div>
                    <h6 class="mt-4 mb-2">Jewelery</h6>
                    <p class="mb-0 fs-14">512 Items</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 shadow mb-2">
                  <div class="card-body p-6">
                    <div
                      class="w-8 h-8 d-grid place-content-center rounded-circle bg-secondary"
                    >
                      <img
                        src="assets/img/icon-category-4.png"
                        alt="image"
                        class="img-fluid"
                      />
                    </div>
                    <h6 class="mt-4 mb-2">Sunglass</h6>
                    <p class="mb-0 fs-14">512 Items</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 shadow mb-2">
                  <div class="card-body p-6">
                    <div
                      class="w-8 h-8 d-grid place-content-center rounded-circle bg-secondary"
                    >
                      <img
                        src="assets/img/icon-category-5.png"
                        alt="image"
                        class="img-fluid"
                      />
                    </div>
                    <h6 class="mt-4 mb-2">Perfume</h6>
                    <p class="mb-0 fs-14">512 Items</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 shadow mb-2">
                  <div class="card-body p-6">
                    <div
                      class="w-8 h-8 d-grid place-content-center rounded-circle bg-secondary"
                    >
                      <img
                        src="assets/img/icon-category-6.png"
                        alt="image"
                        class="img-fluid"
                      />
                    </div>
                    <h6 class="mt-4 mb-2">Skin Care</h6>
                    <p class="mb-0 fs-14">512 Items</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 shadow mb-2">
                  <div class="card-body p-6">
                    <div
                      class="w-8 h-8 d-grid place-content-center rounded-circle bg-secondary"
                    >
                      <img
                        src="assets/img/icon-category-3.png"
                        alt="image"
                        class="img-fluid"
                      />
                    </div>
                    <h6 class="mt-4 mb-2">Jewelery</h6>
                    <p class="mb-0 fs-14">512 Items</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>