<div class="section-space-y">
        <div class="section-space-md-bottom">
          <div class="container">
            <div class="row g-4">
              <div class="col-lg-7">
                <div class="details-slider">
                  <div class="swiper details-slider-thumb mb-6 mb-md-0">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img
                          src="assets/img/product-thumb-1.png"
                          alt="image"
                          class="img-fluid"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="assets/img/product-thumb-2.png"
                          alt="image"
                          class="img-fluid"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="assets/img/product-thumb-3.png"
                          alt="image"
                          class="img-fluid"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="swiper details-slider-main">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img
                          src="assets/img/product-slider-img-1.png"
                          alt="image"
                          class="img-fluid"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="assets/img/product-slider-img-2.png"
                          alt="image"
                          class="img-fluid"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          src="assets/img/product-slider-img-3.png"
                          alt="image"
                          class="img-fluid"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <div
                  class="d-flex flex-wrap justify-content-between align-items-center mb-5"
                >
                  <h1 class="h3 mb-0">Middy Dress</h1>
                  <span class="badge bg-success-subtle text-success"
                    >In Stock</span
                  >
                </div>
                <div class="hstack gap-3 flex-wrap mb-6">
                  <div class="hstack gap-1 align-items-center">
                    <span class="d-inline-block text-warning"
                      ><i class="bi bi-star-fill"></i> </span
                    ><span class="d-inline-block text-warning"
                      ><i class="bi bi-star-fill"></i> </span
                    ><span class="d-inline-block text-warning"
                      ><i class="bi bi-star-fill"></i> </span
                    ><span class="d-inline-block text-warning"
                      ><i class="bi bi-star-fill"></i> </span
                    ><span class="d-inline-block text-warning"
                      ><i class="bi bi-star-fill"></i> </span
                    ><span class="d-inline-block fs-14">14 Review</span>
                  </div>
                  <span class="d-inline-block fs-14 ff-2"
                    ><span class="fw-medium">SKU:</span> KP251594</span
                  >
                </div>
                <div class="d-flex align-items-center gap-3 flex-wrap">
                  <span class="d-inline-block h5 mb-0 fw-medium text-muted"
                    >$48.00 </span
                  ><span class="d-inline-block h5 mb-0 fw-medium text-success"
                    >$17.28 </span
                  ><span
                    class="d-inline-block py-1 px-2 fs-14 rounded-pill bg-danger-subtle text-danger"
                    >64% Off</span
                  >
                </div>
                <hr class="my-8" />
                <ul class="list gap-6 mb-8">
                  <li>
                    <div class="d-flex align-items-center gap-6 gap-xl-14">
                      <span
                        class="d-block flex-shrink-0 fw-semibold product-label"
                        >Color </span
                      ><span class="d-block flex-shrink-0">:</span>
                      <span class="d-block flex-shrink-0">Black</span>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center gap-6 gap-xl-14">
                      <span
                        class="d-block flex-shrink-0 fw-semibold product-label"
                        >Size </span
                      ><span class="d-block flex-shrink-0">:</span>
                      <ul class="list list-row gap-4 flex-wrap">
                        <li>
                          <div
                            class="form-check form-check-modifier form-check--primary"
                          >
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="sizeXS"
                            />
                            <label class="form-check-label fs-14" for="sizeXS"
                              >XS</label
                            >
                          </div>
                        </li>
                        <li>
                          <div
                            class="form-check form-check-modifier form-check--primary"
                          >
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="sizeS"
                            />
                            <label class="form-check-label fs-14" for="sizeS"
                              >S</label
                            >
                          </div>
                        </li>
                        <li>
                          <div
                            class="form-check form-check-modifier form-check--primary"
                          >
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="sizeM"
                            />
                            <label class="form-check-label fs-14" for="sizeM"
                              >M</label
                            >
                          </div>
                        </li>
                        <li>
                          <div
                            class="form-check form-check-modifier form-check--primary"
                          >
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="sizeL"
                            />
                            <label class="form-check-label fs-14" for="sizeL"
                              >L</label
                            >
                          </div>
                        </li>
                        <li>
                          <div
                            class="form-check form-check-modifier form-check--primary"
                          >
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="sizeXL"
                            />
                            <label class="form-check-label fs-14" for="sizeXL"
                              >XL</label
                            >
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center gap-6 gap-xl-14">
                      <span
                        class="d-block flex-shrink-0 fw-semibold product-label"
                        >Quantity </span
                      ><span class="d-block flex-shrink-0">:</span>
                      <div class="qty-btn">
                        <button
                          type="button"
                          class="qty-btn__decrease is-cart-decrement"
                        >
                          <i class="bi bi-dash"></i>
                        </button>
                        <input
                          type="text"
                          class="qty-btn__input form-control text-center"
                          value="0"
                        />
                        <button
                          type="button"
                          class="qty-btn__increase is-cart-increment"
                        >
                          <i class="bi bi-plus"></i>
                        </button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center gap-6 gap-xl-14">
                      <span
                        class="d-block flex-shrink-0 fw-semibold product-label"
                        >Color </span
                      ><span class="d-block flex-shrink-0">:</span>
                      <span class="d-block text-success flex-shrink-0"
                        >In Stock</span
                      >
                    </div>
                  </li>
                </ul>
                <div class="d-flex align-items-center flex-wrap gap-4">
                  <a routerLink="/shop" class="btn btn-primary rounded-1 text-white"
                    ><span class="d-inline-block">Shop Now </span
                    ><span class="d-inline-block"
                      ><i class="bi bi-arrow-up-right"></i> </span></a
                  ><a routerLink="/cart" class="btn btn-outline-dark rounded-1"
                    ><span class="d-inline-block">Add to Cart </span
                    ><span class="d-inline-block"
                      ><i class="bi bi-arrow-up-right"></i></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-space-md-bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <ul class="nav flex-wrap gap-2 tab-pill mb-8" role="tablist">
                  <li>
                    <button
                      class="btn active"
                      data-bs-toggle="tab"
                      data-bs-target="#productDesc"
                      type="button"
                      aria-selected="true"
                      role="tab"
                    >
                      Product Description
                    </button>
                  </li>
                  <li>
                    <button
                      class="btn"
                      data-bs-toggle="tab"
                      data-bs-target="#productDetails"
                      type="button"
                      aria-selected="false"
                      tabindex="-1"
                      role="tab"
                    >
                      Product Details
                    </button>
                  </li>
                  <li>
                    <button
                      class="btn"
                      data-bs-toggle="tab"
                      data-bs-target="#productReview"
                      type="button"
                      aria-selected="false"
                      tabindex="-1"
                      role="tab"
                    >
                      Product Review
                    </button>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="productDesc">
                    <p class="fs-14">
                      Sed commodo aliquam dui ac porta. Fusce ipsum felis,
                      imperdiet at posuere ac, viverra at mauris. Maecenas
                      tincidunt ligula a sem vestibulum pharetra. Maecenas auctor
                      tortor lacus, nec laoreet nisi porttitor vel. Etiam
                      tincidunt metus vel dui interdum sollicitudin. Mauris sem
                      ante, vestibulum nec orci vitae, aliquam mollis lacus.
                    </p>
                    <p class="mb-6 fs-14">
                      Nulla mauris tellus, feugiat quis pharetra sed, gravida ac
                      dui. Sed iaculis, metus faucibus elementum tincidunt, turpis
                      mi viverra velit, pellentesque tristique neque mi eget
                      nulla. Proin luctus elementum neque et pharetra.
                    </p>
                    <ul class="list gap-3 mb-6">
                      <li class="d-flex align-items-center gap-2">
                        <span class="d-inline-block flex-shrink-0"
                          ><i class="bi bi-check-circle"></i> </span
                        ><span class="d-block flex-grow-1"
                          >Proin convallis odio volutpat finibus posuere.</span
                        >
                      </li>
                      <li class="d-flex align-items-center gap-2">
                        <span class="d-inline-block flex-shrink-0"
                          ><i class="bi bi-check-circle"></i> </span
                        ><span class="d-block flex-grow-1"
                          >Commodo aliquam dui ac porta</span
                        >
                      </li>
                      <li class="d-flex align-items-center gap-2">
                        <span class="d-inline-block flex-shrink-0"
                          ><i class="bi bi-check-circle"></i> </span
                        ><span class="d-block flex-grow-1"
                          >Viverra at mauris. Maecenas tincidunt ligula</span
                        >
                      </li>
                      <li class="d-flex align-items-center gap-2">
                        <span class="d-inline-block flex-shrink-0"
                          ><i class="bi bi-check-circle"></i> </span
                        ><span class="d-block flex-grow-1"
                          >Proin convallis odio volutpat finibus posuere.</span
                        >
                      </li>
                      <li class="d-flex align-items-center gap-2">
                        <span class="d-inline-block flex-shrink-0"
                          ><i class="bi bi-check-circle"></i> </span
                        ><span class="d-block flex-grow-1"
                          >Pellentesque tristique neque mi eget nulla</span
                        >
                      </li>
                    </ul>
                    <p class="mb-0">
                      Cras et diam maximus, accumsan sapien et, sollicitudin
                      velit. Nulla blandit eros non turpis lobortis iaculis at ut
                      massa.
                    </p>
                  </div>
                  <div class="tab-pane" id="productDetails">
                    <div class="table-responsive">
                      <table
                        class="table table-borderless table-striped align-middle"
                      >
                        <tbody>
                          <tr>
                            <th class="px-6 py-2 fw-semibold">COLOR</th>
                            <td>Blue</td>
                          </tr>
                          <tr>
                            <th class="px-6 py-2 fw-semibold">FABRIC</th>
                            <td>Linen</td>
                          </tr>
                          <tr>
                            <th class="px-6 py-2 fw-semibold">SIZE</th>
                            <td>XS, S, M, L, XL</td>
                          </tr>
                          <tr>
                            <th class="px-6 py-2 fw-semibold">STYLE</th>
                            <td>Allover screen solid nightwear</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="productReview">
                    <ul class="list list-flush list-review">
                      <li>
                        <div
                          class="d-flex align-items-center justify-content-between gap-3 mb-2"
                        >
                          <div class="d-flex align-items-center gap-3">
                            <div class="avatar avatar-md flex-shrink-0">
                              <img
                                src="assets/img/user-1.png"
                                alt="image"
                                class="avatar__img"
                              />
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="fs-14 mb-0">Kristin Watson</h6>
                              <ul class="list list-row">
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <span class="d-inline-block fs-14 text-muted"
                            >2 min ago</span
                          >
                        </div>
                        <p class="mb-0 fs-14">
                          Duis at ullamcorper nulla, eu dictum eros.
                        </p>
                      </li>
                      <li>
                        <div
                          class="d-flex align-items-center justify-content-between gap-3 mb-2"
                        >
                          <div class="d-flex align-items-center gap-3">
                            <div class="avatar avatar-md flex-shrink-0">
                              <img
                                src="assets/img/user.jpg"
                                alt="image"
                                class="avatar__img"
                              />
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="fs-14 mb-0">Glane Cooper</h6>
                              <ul class="list list-row">
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <span class="d-inline-block fs-14 text-muted"
                            >30 Apr, 2021</span
                          >
                        </div>
                        <p class="mb-0 fs-14">
                          Keep the soil evenly moist for the healthiest growth. If
                          the sun gets too hot, Chinese cabbage tends to "bolt" or
                          go to seed; in long periods of heat, some kind of shade
                          may be helpful. Watch out for snails, as they will harm
                        </p>
                      </li>
                      <li>
                        <div
                          class="d-flex align-items-center justify-content-between gap-3 mb-2"
                        >
                          <div class="d-flex align-items-center gap-3">
                            <div class="avatar avatar-md flex-shrink-0">
                              <img
                                src="assets/img/user-2.png"
                                alt="image"
                                class="avatar__img"
                              />
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="fs-14 mb-0">Peter Parker</h6>
                              <ul class="list list-row">
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <span class="d-inline-block fs-14 text-muted"
                            >2 min ago</span
                          >
                        </div>
                        <p class="mb-0 fs-14">
                          Vivamus eget euismod magna. Nam sed lacinia nibh, et
                          lacinia lacus.
                        </p>
                      </li>
                      <li>
                        <div
                          class="d-flex align-items-center justify-content-between gap-3 mb-2"
                        >
                          <div class="d-flex align-items-center gap-3">
                            <div class="avatar avatar-md flex-shrink-0">
                              <img
                                src="assets/img/user-1.png"
                                alt="image"
                                class="avatar__img"
                              />
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="fs-14 mb-0">Asaduzzaman Sarker</h6>
                              <ul class="list list-row">
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                                <li>
                                  <span class="d-inline-block fs-14 text-warning"
                                    ><i class="bi bi-star-fill"></i
                                  ></span>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <span class="d-inline-block fs-14 text-muted"
                            >2 min ago</span
                          >
                        </div>
                        <p class="mb-0 fs-14">
                          200+ Canton Pak Choi Bok Choy Chinese Cabbage Seeds
                          Heirloom Non-GMO Productive Brassica rapa VAR.
                          chinensis, a.k.a. Canton's Choice, Bok Choi, from USA
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Product Section  -->
        <div class="section-space-md-top">
          <div class="section-space-md-bottom">
            <div class="container">
              <div class="row g-4 align-items-center">
                <div class="col-md-8">
                  <span class="d-block">RELETED PRODUCT</span>
                  <h2 class="mb-0">Similar Product You May Like</h2>
                </div>
                <div class="col-md-4">
                  <div
                    class="slider-nav slider-nav--static d-flex flex-wrap gap-4 justify-content-md-end"
                  >
                    <div
                      class="swiper-button-prev slider-nav__prev related-slider__prev border border-dark rounded text-dark fs-24 hover:bg-dark hover:text-white transition"
                    >
                      <i class="bi bi-arrow-left"></i>
                    </div>
                    <div
                      class="swiper-button-next slider-nav__next related-slider__next border border-dark rounded text-dark fs-24 hover:bg-dark hover:text-white transition"
                    >
                      <i class="bi bi-arrow-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="swiper related-slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="card product-card border-0">
                        <div class="card-body p-6">
                          <div class="position-relative z-1 overflow-hidden">
                            <a
                              routerLink="/product-details"
                              class="link d-block w-100"
                              ><img
                                src="assets/img/product-img-7.png"
                                alt="image"
                                class="img-fluid w-100"
                            /></a>
                            <div
                              class="product-card__cart-nav d-flex flex-column align-items-center justify-content-center gap-2 position-absolute top-50 start-0 end-0 transition"
                            >
                              <a
                                routerLink="/cart"
                                class="link btn btn-sm btn-light"
                                ><i class="bi bi-cart3"></i> Add to Cart </a
                              ><a
                                routerLink="/product-details"
                                class="btn btn-sm btn-light"
                                ><i class="bi bi-eye-fill"></i> View Detail</a
                              >
                            </div>
                            <button
                              type="button"
                              class="btn btn-icon btn-light rounded-circle flex-shrink-0 text-dark position-absolute top-4 end-4"
                            >
                              <i class="bi bi-heart"></i>
                            </button>
                          </div>
                          <div class="pt-4">
                            <div
                              class="hstack justify-content-between align-items-center gap-3 mb-4"
                            >
                              <h4 class="mb-0 flex-grow-1">
                                <a
                                  routerLink="/product-details"
                                  class="link d-inline-block text-dark hover:text-primary"
                                  >Green Middy Dress</a
                                >
                              </h4>
                              <ul class="list list-row flex-shrink-0">
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                              </ul>
                            </div>
                            <span class="d-block fw-medium">$150</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card product-card border-0">
                        <div class="card-body p-6">
                          <div class="position-relative z-1 overflow-hidden">
                            <a
                              routerLink="/product-details"
                              class="link d-block w-100"
                              ><img
                                src="assets/img/product-img-8.png"
                                alt="image"
                                class="img-fluid w-100"
                            /></a>
                            <div
                              class="product-card__cart-nav d-flex flex-column align-items-center justify-content-center gap-2 position-absolute top-50 start-0 end-0 transition"
                            >
                              <a
                                routerLink="/cart"
                                class="link btn btn-sm btn-light"
                                ><i class="bi bi-cart3"></i> Add to Cart </a
                              ><a
                                routerLink="/product-details"
                                class="btn btn-sm btn-light"
                                ><i class="bi bi-eye-fill"></i> View Detail</a
                              >
                            </div>
                            <button
                              type="button"
                              class="btn btn-icon btn-light rounded-circle flex-shrink-0 text-dark position-absolute top-4 end-4"
                            >
                              <i class="bi bi-heart"></i>
                            </button>
                          </div>
                          <div class="pt-4">
                            <div
                              class="hstack justify-content-between align-items-center gap-3 mb-4"
                            >
                              <h4 class="mb-0 flex-grow-1">
                                <a
                                  routerLink="/product-details"
                                  class="link d-inline-block text-dark hover:text-primary"
                                  >Red OverCoat</a
                                >
                              </h4>
                              <ul class="list list-row flex-shrink-0">
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                              </ul>
                            </div>
                            <span class="d-block fw-medium">$150</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card product-card border-0">
                        <div class="card-body p-6">
                          <div class="position-relative z-1 overflow-hidden">
                            <a
                              routerLink="/product-details"
                              class="link d-block w-100"
                              ><img
                                src="assets/img/product-img-9.png"
                                alt="image"
                                class="img-fluid w-100"
                            /></a>
                            <div
                              class="product-card__cart-nav d-flex flex-column align-items-center justify-content-center gap-2 position-absolute top-50 start-0 end-0 transition"
                            >
                              <a
                                routerLink="/cart"
                                class="link btn btn-sm btn-light"
                                ><i class="bi bi-cart3"></i> Add to Cart </a
                              ><a
                                routerLink="/product-details"
                                class="btn btn-sm btn-light"
                                ><i class="bi bi-eye-fill"></i> View Detail</a
                              >
                            </div>
                            <button
                              type="button"
                              class="btn btn-icon btn-light rounded-circle flex-shrink-0 text-dark position-absolute top-4 end-4"
                            >
                              <i class="bi bi-heart"></i>
                            </button>
                          </div>
                          <div class="pt-4">
                            <div
                              class="hstack justify-content-between align-items-center gap-3 mb-4"
                            >
                              <h4 class="mb-0 flex-grow-1">
                                <a
                                  routerLink="/product-details"
                                  class="link d-inline-block text-dark hover:text-primary"
                                  >Yellow Middy Dress</a
                                >
                              </h4>
                              <ul class="list list-row flex-shrink-0">
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                              </ul>
                            </div>
                            <span class="d-block fw-medium">$150</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card product-card border-0">
                        <div class="card-body p-6">
                          <div class="position-relative z-1 overflow-hidden">
                            <a
                              routerLink="/product-details"
                              class="link d-block w-100"
                              ><img
                                src="assets/img/product-img-8.png"
                                alt="image"
                                class="img-fluid w-100"
                            /></a>
                            <div
                              class="product-card__cart-nav d-flex flex-column align-items-center justify-content-center gap-2 position-absolute top-50 start-0 end-0 transition"
                            >
                              <a
                                routerLink="/cart"
                                class="link btn btn-sm btn-light"
                                ><i class="bi bi-cart3"></i> Add to Cart </a
                              ><a
                                routerLink="/product-details"
                                class="btn btn-sm btn-light"
                                ><i class="bi bi-eye-fill"></i> View Detail</a
                              >
                            </div>
                            <button
                              type="button"
                              class="btn btn-icon btn-light rounded-circle flex-shrink-0 text-dark position-absolute top-4 end-4"
                            >
                              <i class="bi bi-heart"></i>
                            </button>
                          </div>
                          <div class="pt-4">
                            <div
                              class="hstack justify-content-between align-items-center gap-3 mb-4"
                            >
                              <h4 class="mb-0 flex-grow-1">
                                <a
                                  routerLink="/product-details"
                                  class="link d-inline-block text-dark hover:text-primary"
                                  >Red OverCoat</a
                                >
                              </h4>
                              <ul class="list list-row flex-shrink-0">
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                                <li class="text-warning fs-12">
                                  <i class="bi bi-star-fill"></i>
                                </li>
                              </ul>
                            </div>
                            <span class="d-block fw-medium">$150</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Product Section  -->
      </div>