<div class="auth-page auth-page--login section-space-y">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-6 col-xl-5 ms-lg-auto">
        <a routerLink="/index-2" class="link btn btn-sm btn-link"
          ><span class="d-inline-block"
            ><i class="bi bi-chevron-left"></i> </span
          ><span class="d-inline-block">Back</span></a
        >
        <h2>Forgot Password</h2>
        <p class="mb-12 text-body-secondary">
          Enter your registered email address. we’ll send you a code to reset
          your password.
        </p>
        <form class="row g-4">
          <div class="col-12">
            <input
              type="email"
              class="form-control form-control-lg fs-14 bg-body-tertiary"
              placeholder="Email"
            />
          </div>
          <div class="col-12">
            <button type="button" class="btn btn-primary rounded-1 text-white">
              <span class="d-inline-block">Send OTP </span
              ><span class="d-inline-block"
                ><i class="bi bi-arrow-up-right"></i
              ></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
