<div class="auth-page auth-page--signup section-space-y">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-6 col-xl-5 ms-lg-auto">
        <h2>Create New Account</h2>
        <p class="mb-12 text-body-secondary">Please login here</p>
        <form class="row g-4">
          <div class="col-12">
            <input
              type="text"
              class="form-control form-control-lg fs-14 bg-body-tertiary"
              placeholder="First Name"
            />
          </div>
          <div class="col-12">
            <input
              type="text"
              class="form-control form-control-lg fs-14 bg-body-tertiary"
              placeholder="Last Name"
            />
          </div>
          <div class="col-12">
            <input
              type="email"
              class="form-control form-control-lg fs-14 bg-body-tertiary"
              placeholder="Email"
            />
          </div>
          <div class="col-12">
            <input
              type="password"
              class="form-control form-control-lg fs-14 bg-body-tertiary"
              placeholder="Password"
            />
          </div>
          <div class="col-12">
            <div
              class="form-check form-check-modifier form-check--primary gap-2"
            >
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="defaultCheckbox-1"
              />
              <label class="form-check-label" for="defaultCheckbox-1"
                >I agree to the Terms & Conditions</label
              >
            </div>
          </div>
          <div class="col-12">
            <button type="button" class="btn btn-primary rounded-1 text-white">
              <span class="d-inline-block">Create Account </span
              ><span class="d-inline-block"
                ><i class="bi bi-arrow-up-right"></i
              ></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
