<div class="section-space-y bg-body">
  <div class="section-space-md-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 text-center">
          <span class="d-block">BLOG & NEWS</span>
          <h2 class="mb-0">Get Inspired By Latest Blog</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <a routerLink="/blog-details" class="link d-block"
          ><img
            src="assets/img/blog-img-4.png"
            alt="image"
            class="img-fluid w-100"
        /></a>
        <div class="pt-8">
          <div class="d-flex align-items-center gap-2">
            <div class="d-flex align-items-center gap-2 flex-shrink-0">
              <span class="d-block w-15 h-1px bg-dark"></span>
              <span class="d-block fs-12">FASHION</span>
            </div>
            <div
              class="w-1 h-1 rounded-circle flex-shrink-0 bg-dark bg-opacity-25"
            ></div>
            <span class="d-inline-block fs-12">Sep 19, 2024</span>
          </div>
          <h4 class="mt-4 mb-0 d-inline-block">
            <a
              routerLink="/blog-details"
              class="link d-inline-block text-dark hover:text-primary"
              >Judges at the top United Nations court ordered</a
            >
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <a routerLink="/blog-details" class="link d-block"
          ><img
            src="assets/img/blog-img-5.png"
            alt="image"
            class="img-fluid w-100"
        /></a>
        <div class="pt-8">
          <div class="d-flex align-items-center gap-2">
            <div class="d-flex align-items-center gap-2 flex-shrink-0">
              <span class="d-block w-15 h-1px bg-dark"></span>
              <span class="d-block fs-12">FASHION</span>
            </div>
            <div
              class="w-1 h-1 rounded-circle flex-shrink-0 bg-dark bg-opacity-25"
            ></div>
            <span class="d-inline-block fs-12">Sep 19, 2024</span>
          </div>
          <h4 class="mt-4 mb-0 d-inline-block">
            <a
              routerLink="/blog-details"
              class="link d-inline-block text-dark hover:text-primary"
              >Reading out the ruling by the International Court</a
            >
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <a routerLink="/blog-details" class="link d-block"
          ><img
            src="assets/img/blog-img-6.png"
            alt="image"
            class="img-fluid w-100"
        /></a>
        <div class="pt-8">
          <div class="d-flex align-items-center gap-2">
            <div class="d-flex align-items-center gap-2 flex-shrink-0">
              <span class="d-block w-15 h-1px bg-dark"></span>
              <span class="d-block fs-12">FASHION</span>
            </div>
            <div
              class="w-1 h-1 rounded-circle flex-shrink-0 bg-dark bg-opacity-25"
            ></div>
            <span class="d-inline-block fs-12">Sep 19, 2024</span>
          </div>
          <h4 class="mt-4 mb-0 d-inline-block">
            <a
              routerLink="/blog-details"
              class="link d-inline-block text-dark hover:text-primary"
              >It was handed down a week after it was requested</a
            >
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
