<div class="section-space-md-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6 text-center">
        <span class="d-block">Follow Us</span>
        <h2 class="h3">Instagram</h2>
        <p class="mb-2">
          Follow us on social media for more discount & promotions
        </p>
        <span class="d-block text-dark">at_kapra_official</span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-1">
  <div class="row row-cols-2 row-cols-md-5 g-1">
    <div class="col">
      <div class="position-relative z-1 overflow-hidden group">
        <img
          src="assets/img/insta-img-1.png"
          alt="image"
          class="img-fluid w-100"
        />
        <a
          href="#"
          class="link d-grid place-content-center position-absolute inset-0 bg-primary bg-opacity-0 group-hover:bg-opacity-80 text-white text-opacity-0 group-hover:text-opacity-100 fs-14"
          ><span class="d-flex align-items-center gap-1"
            ><span class="d-block">View All</span>
            <span class="d-block"><i class="bi bi-arrow-right"></i></span></span
        ></a>
      </div>
    </div>
    <div class="col">
      <div class="position-relative z-1 overflow-hidden group">
        <img
          src="assets/img/insta-img-2.png"
          alt="image"
          class="img-fluid w-100"
        />
        <a
          href="#"
          class="link d-grid place-content-center position-absolute inset-0 bg-primary bg-opacity-0 group-hover:bg-opacity-80 text-white text-opacity-0 group-hover:text-opacity-100 fs-14"
          ><span class="d-flex align-items-center gap-1"
            ><span class="d-block">View All</span>
            <span class="d-block"><i class="bi bi-arrow-right"></i></span></span
        ></a>
      </div>
    </div>
    <div class="col">
      <div class="position-relative z-1 overflow-hidden group">
        <img
          src="assets/img/insta-img-3.png"
          alt="image"
          class="img-fluid w-100"
        />
        <a
          href="#"
          class="link d-grid place-content-center position-absolute inset-0 bg-primary bg-opacity-0 group-hover:bg-opacity-80 text-white text-opacity-0 group-hover:text-opacity-100 fs-14"
          ><span class="d-flex align-items-center gap-1"
            ><span class="d-block">View All</span>
            <span class="d-block"><i class="bi bi-arrow-right"></i></span></span
        ></a>
      </div>
    </div>
    <div class="col">
      <div class="position-relative z-1 overflow-hidden group">
        <img
          src="assets/img/insta-img-4.png"
          alt="image"
          class="img-fluid w-100"
        />
        <a
          href="#"
          class="link d-grid place-content-center position-absolute inset-0 bg-primary bg-opacity-0 group-hover:bg-opacity-80 text-white text-opacity-0 group-hover:text-opacity-100 fs-14"
          ><span class="d-flex align-items-center gap-1"
            ><span class="d-block">View All</span>
            <span class="d-block"><i class="bi bi-arrow-right"></i></span></span
        ></a>
      </div>
    </div>
    <div class="col">
      <div class="position-relative z-1 overflow-hidden group">
        <img
          src="assets/img/insta-img-5.png"
          alt="image"
          class="img-fluid w-100"
        />
        <a
          href="#"
          class="link d-grid place-content-center position-absolute inset-0 bg-primary bg-opacity-0 group-hover:bg-opacity-80 text-white text-opacity-0 group-hover:text-opacity-100 fs-14"
          ><span class="d-flex align-items-center gap-1"
            ><span class="d-block">View All</span>
            <span class="d-block"><i class="bi bi-arrow-right"></i></span></span
        ></a>
      </div>
    </div>
  </div>
</div>
