<div class="section-space-y deal-section">
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-lg-6">
        <h2>Deals Of the Month</h2>
        <p class="max-text-10 mb-8">
          Our designer already made a lot of beautiful prototipe of rooms that
          inspire you
        </p>
        <ul
          class="list list-row gap-4 flex-wrap countdown mb-12"
          data-date="2024/12/3 12:51:59"
        >
          <li>
            <div
              class="d-grid place-content-center w-20 h-20 border border-dark rounded-1 text-center"
            >
              <span class="h4 d-block mb-0 days"></span>
              <span class="d-block fs-14">Days</span>
            </div>
          </li>
          <li>
            <div
              class="d-grid place-content-center w-20 h-20 border border-dark rounded-1 text-center"
            >
              <span class="h4 d-block mb-0 hours"></span>
              <span class="d-block fs-14">Hours</span>
            </div>
          </li>
          <li>
            <div
              class="d-grid place-content-center w-20 h-20 border border-dark rounded-1 text-center"
            >
              <span class="h4 d-block mb-0 minutes"></span>
              <span class="d-block fs-14">Minutes</span>
            </div>
          </li>
          <li>
            <div
              class="d-grid place-content-center w-20 h-20 border border-dark rounded-1 text-center"
            >
              <span class="h4 d-block mb-0 seconds"></span>
              <span class="d-block fs-14">Seconds</span>
            </div>
          </li>
        </ul>
        <a routerLink="/shop" class="btn btn-dark fs-14 rounded-1 text-white"
          ><span class="d-inline-block">Explore More </span
          ><span class="d-inline-block ms-2"
            ><i class="bi bi-arrow-up-right"></i></span
        ></a>
      </div>
      <div class="col-lg-6">
        <div class="swiper deal-slider deal-slider-1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="deal-slider__card">
                <img
                  src="assets/img/deal-slider-img-1.png"
                  alt="image"
                  class="img-fluid"
                />
                <div class="deal-slider__overlay">
                  <div class="deal-slider__content p-8">
                    <span class="d-block">01 - Spring Sale</span>
                    <h4 class="mt-2 mb-0">30% OFF</h4>
                  </div>
                  <a
                    routerLink="/shop"
                    class="link d-grid place-content-center w-12 h-12 bg-primary text-white flex-shrink-0"
                    ><i class="bi bi-arrow-up-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="deal-slider__card">
                <img
                  src="assets/img/deal-slider-img-2.png"
                  alt="image"
                  class="img-fluid"
                />
                <div class="deal-slider__overlay">
                  <div class="deal-slider__content p-8">
                    <span class="d-block">02 - Spring Sale</span>
                    <h4 class="mt-2 mb-0">10% OFF</h4>
                  </div>
                  <a
                    routerLink="/shop"
                    class="link d-grid place-content-center w-12 h-12 bg-primary text-white flex-shrink-0"
                    ><i class="bi bi-arrow-up-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="deal-slider__card">
                <img
                  src="assets/img/deal-slider-img-3.png"
                  alt="image"
                  class="img-fluid"
                />
                <div class="deal-slider__overlay">
                  <div class="deal-slider__content p-8">
                    <span class="d-block">03 - Spring Sale</span>
                    <h4 class="mt-2 mb-0">15% OFF</h4>
                  </div>
                  <a
                    routerLink="/shop"
                    class="link d-grid place-content-center w-12 h-12 bg-primary text-white flex-shrink-0"
                    ><i class="bi bi-arrow-up-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="deal-slider__card">
                <img
                  src="assets/img/deal-slider-img-2.png"
                  alt="image"
                  class="img-fluid"
                />
                <div class="deal-slider__overlay">
                  <div class="deal-slider__content p-8">
                    <span class="d-block">04 - Spring Sale</span>
                    <h4 class="mt-2 mb-0">20% OFF</h4>
                  </div>
                  <a
                    routerLink="/shop"
                    class="link d-grid place-content-center w-12 h-12 bg-primary text-white flex-shrink-0"
                    ><i class="bi bi-arrow-up-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev deal-slider__prev fs-24">
            <i class="bi bi-arrow-left"></i>
          </div>
          <div class="swiper-button-next deal-slider__next fs-24">
            <i class="bi bi-arrow-right"></i>
          </div>
        </div>
        <div class="swiper-pagination deal-slider__pagination mt-2"></div>
      </div>
    </div>
  </div>
</div>
