<div class="section-space-y sale-section">
        <div class="container">
            <div class="row justify-content-lg-end">
                <div class="col-lg-6"><span class="d-block text-primary">SALE UP TO 35% OFF</span><h2 class="mt-2">Hundreds of<br>New lower prices!</h2>
                    <p
                        class="max-text-10 mb-8">It’s more affordable than ever to give every outfit in yourself a stylish makeover</p><a routerLink="/shop"
                        class="link btn btn-primary text-white"><span class="d-block flex-grow-1">Shop Now </span><span class="d-inline-block flex-shrink-0"><i
                                class="bi bi-arrow-up-right"></i></span></a></div>
            </div>
        </div>
    </div>