<div class="section-space-top section-space-md-bottom">
  <div class="section-space-md-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="h3">New Arrival</h2>
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-6">
        <div class="blog-post blog-post--xl">
          <img
            src="assets/img/blog-img-7.png"
            alt="image"
            class="blog-post__img"
          />
          <div class="blog-post__content">
            <h4>
              <a
                routerLink="/blog-details"
                class="link d-inline-block text-white hover:text-primary"
                >Men’s Winter Collection</a
              >
            </h4>
            <p class="text-white text-opacity-75 max-text-10">
              Black and White versionBlack and White version Black and White
              version
            </p>
            <a
              routerLink="/blog-details"
              class="link btn btn-sm btn-link px-0 text-white hover:text-primary"
              ><span class="d-inline-block">Shop Now </span
              ><span class="d-inline-block"
                ><i class="bi bi-arrow-right"></i></span
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row g-4">
          <div class="col-12">
            <div class="blog-post blog-post--sm">
              <img
                src="assets/img/blog-img-8.png"
                alt="image"
                class="blog-post__img"
              />
              <div class="blog-post__content">
                <h4>
                  <a
                    routerLink="/blog-details"
                    class="link d-inline-block text-white hover:text-primary"
                    >Women Collections</a
                  >
                </h4>
                <p class="text-white text-opacity-75 max-text-10">
                  Black and White versionBlack and White version Black and White
                  version
                </p>
                <a
                  routerLink="/blog-details"
                  class="link btn btn-sm btn-link px-0 text-white hover:text-primary"
                  ><span class="d-inline-block">Shop Now </span
                  ><span class="d-inline-block"
                    ><i class="bi bi-arrow-right"></i></span
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="blog-post blog-post--sm">
              <img
                src="assets/img/blog-img-9.png"
                alt="image"
                class="blog-post__img"
              />
              <div class="blog-post__content">
                <h4>
                  <a
                    routerLink="/blog-details"
                    class="link d-inline-block text-white hover:text-primary"
                    >Perfumes</a
                  >
                </h4>
                <p class="text-white text-opacity-75 max-text-10">
                  Lorem Ipsum dumy
                </p>
                <a
                  routerLink="/blog-details"
                  class="link btn btn-sm btn-link px-0 text-white hover:text-primary"
                  ><span class="d-inline-block">Shop Now </span
                  ><span class="d-inline-block"
                    ><i class="bi bi-arrow-right"></i></span
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="blog-post blog-post--sm">
              <img
                src="assets/img/blog-img-10.png"
                alt="image"
                class="blog-post__img"
              />
              <div class="blog-post__content">
                <h4>
                  <a
                    routerLink="/blog-details"
                    class="link d-inline-block text-white hover:text-primary"
                    >Makeups</a
                  >
                </h4>
                <p class="text-white text-opacity-75 max-text-10">
                  Lorem Ipsum dumy
                </p>
                <a
                  routerLink="/blog-details"
                  class="link btn btn-sm btn-link px-0 text-white hover:text-primary"
                  ><span class="d-inline-block">Shop Now </span
                  ><span class="d-inline-block"
                    ><i class="bi bi-arrow-right"></i></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
