<footer class="footer bg-dark section-space-lg-y">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="text-center border-bottom border-light border-opacity-10 section-space-sm-bottom"><a routerLink="/index-2" class="logo d-block"><img src="assets/img/logo-light.png" alt="logo" class="logo__img"></a><ul
                            class="list list-row flex-wrap justify-content-center align-items-center gap-4 my-8">
                            <li><a routerLink="/index-2" class="link d-inline-block text-white hover:text-primary">Home</a></li>
                            <li><a routerLink="/shop" class="link d-inline-block text-white hover:text-primary">Shop</a></li>
                            <li><a routerLink="/blog" class="link d-inline-block text-white hover:text-primary">Blog</a></li>
                            <li><a routerLink="/contact" class="link d-inline-block text-white hover:text-primary">Contact</a></li>
                        </ul>
                        <ul class="list list-row flex-wrap justify-content-center align-items-center gap-4">
                            <li><a href="#" class="link d-grid place-content-center w-9 h-9 rounded-circle border border-light border-opacity-50 text-light hover:bg-white hover:text-dark"><i
                                        class="bi bi-facebook"></i></a></li>
                            <li><a href="#" class="link d-grid place-content-center w-9 h-9 rounded-circle border border-light border-opacity-50 text-light hover:bg-white hover:text-dark"><i
                                        class="bi bi-twitter"></i></a></li>
                            <li><a href="#" class="link d-grid place-content-center w-9 h-9 rounded-circle border border-light border-opacity-50 text-light hover:bg-white hover:text-dark"><i
                                        class="bi bi-linkedin"></i></a></li>
                            <li><a href="#" class="link d-grid place-content-center w-9 h-9 rounded-circle border border-light border-opacity-50 text-light hover:bg-white hover:text-dark"><i
                                        class="bi bi-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="section-space-sm-top">
                        <div class="row g-4">
                            <div class="col-md-6"><span class="d-block text-center text-md-start text-white">&copy; Copyright 2024 - Kapra</span></div>
                            <div
                                class="col-md-6">
                                <ul class="list list-row gap-1 align-items-center justify-content-center justify-content-md-end">
                                    <li><img src="assets/img/getway.png" alt="image" class="img-fluid"></li>
                                    <li><img src="assets/img/getway-1.png" alt="image" class="img-fluid"></li>
                                    <li><img src="assets/img/getway-2.png" alt="image" class="img-fluid"></li>
                                    <li><img src="assets/img/getway-3.png" alt="image" class="img-fluid"></li>
                                    <li><img src="assets/img/getway-4.png" alt="image" class="img-fluid"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>