<div class="section-space-y">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 text-center">
        <h2 class="h3">Sign up now & get 10% off</h2>
        <p class="mb-10">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
        </p>
        <div class="d-flex align-items-center gap-4 max-text-18 mx-auto">
          <input type="text" class="form-control form-control-lg rounded-0" />
          <button
            type="button"
            class="btn btn-lg btn-dark text-white rounded-0"
          >
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
