<div class="section-space-md-y">
  <div class="section-space-md-bottom">
    <div class="container">
      <div class="row g-4 align-items-center">
        <div class="col-md-8">
          <h2 class="mb-0">Shop By Categories</h2>
        </div>
        <div class="col-md-4">
          <div
            class="slider-nav slider-nav--static d-flex flex-wrap gap-4 justify-content-md-end"
          >
            <div
              class="swiper-button-prev slider-nav__prev category-slider-prev border border-dark rounded text-dark fs-24 hover:bg-dark hover:text-white transition"
            >
              <i class="bi bi-arrow-left"></i>
            </div>
            <div
              class="swiper-button-next slider-nav__next category-slider-next border border-dark rounded text-dark fs-24 hover:bg-dark hover:text-white transition"
            >
              <i class="bi bi-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="swiper category-slider">
          <div class="swiper-wrapper">
            <div class="swipe-slide">
              <ngb-carousel
                [showNavigationArrows]="false"
                [showNavigationIndicators]="false"
                [interval]="3000"
              >
                @for (slide of slides; track slide.key; let index = $index) {
                <ng-template ngbSlide>
                  <div class="text-center">
                    @for(item of slide.imgs; track index; let index = $index)
                    {
                    <div class="card border-0 shadow mb-2">
                      <div class="card-body p-6">
                        <div
                          class="w-8 h-8 d-grid place-content-center rounded-circle bg-secondary"
                        >
                          <img [src]="item.img" alt="image" class="img-fluid" />
                        </div>
                        <h6 class="mt-4 mb-2">{{ item.type }}</h6>
                        <p class="mb-0 fs-14">{{ item.items }}</p>
                      </div>
                    </div>
                    }
                  </div>
                </ng-template>
                }
              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
