<nav class="navbar navbar-expand-lg bg-dark z-3 d-none d-lg-flex">
  <div class="container">
    <a routerLink="/index-2" class="logo d-block"
      ><img src="assets/img/logo-light.png" alt="logo" class="logo__img"
    /></a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav justify-content-end align-items-lg-center w-100">
        <li class="nav-item has-sub active ms-lg-auto flex-grow-1 max-text-15">
          <div class="d-flex p-1 newsletter-inputs">
            <input
              type="text"
              class="form-control fs-14 border-0 rounded-end-0"
              placeholder="Search Here..."
            />
            <button
              type="button"
              class="btn btn-icon btn-primary fs-14 text-white rounded-start-0"
            >
              <i class="bi bi-search"></i>
            </button>
          </div>
        </li>
        <li class="nav-item ms-lg-auto">
          <ul class="list list-row gap-2">
            <li>
              <a
                href="#"
                class="link nav-link fs-14 text-white"
                data-bs-toggle="modal"
                data-bs-target="#searchModal"
                ><i class="bi bi-search"></i
              ></a>
            </li>
            <li>
              <a
                routerLink="/cart"
                class="link nav-link fs-14 position-relative z-1 text-white"
                ><i class="bi bi-cart3"></i>
                <span
                  class="notification d-grid place-content-center w-4 h-4 rounded-circle bg-primary text-white fs-10 position-absolute top-0 right-0"
                  >1</span
                ></a
              >
            </li>
            <li>
              <a routerLink="/login" class="link nav-link fs-14 text-white"
                ><i class="bi bi-person"></i
              ></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary z-3">
  <div class="container">
    <a routerLink="/index-2" class="logo d-block d-lg-none"
      ><img src="assets/img/logo-dark.png" alt="logo" class="logo__img" /> </a
    ><button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#primaryMenu"
      aria-controls="primaryMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="primaryMenu">
      <ul class="navbar-nav justify-content-end align-items-lg-center w-100">
        <li class="nav-item has-sub active">
          <a class="nav-link fs-14" href="#">Home</a>
          <ul class="list sub-menu">
            <li class="sub-menu__list">
              <a routerLink="/index-2" class="link sub-menu__link fs-14"
                >Home 1</a
              >
            </li>
            <li class="sub-menu__list">
              <a routerLink="/index-3" class="link sub-menu__link fs-14"
                >Home 2</a
              >
            </li>
            <li class="sub-menu__list">
              <a routerLink="/index-4" class="link sub-menu__link fs-14"
                >Home 3</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-14" routerLink="/shop">Product</a>
        </li>
        <li class="nav-item has-sub">
          <a class="nav-link fs-14" href="#">Blog</a>
          <ul class="list sub-menu">
            <li class="sub-menu__list">
              <a routerLink="/blog" class="link sub-menu__link fs-14">Blog</a>
            </li>
            <li class="sub-menu__list">
              <a routerLink="/blog-details" class="link sub-menu__link fs-14"
                >Blog Details</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item has-sub">
          <a class="nav-link fs-14" href="#">Page</a>
          <ul class="list sub-menu">
            <li class="sub-menu__list">
              <a routerLink="/product-details" class="link sub-menu__link fs-14"
                >Product Details</a
              >
            </li>
            <li class="sub-menu__list">
              <a routerLink="/wishlist" class="link sub-menu__link fs-14"
                >Wishlist</a
              >
            </li>
            <li class="sub-menu__list">
              <a routerLink="/checkout" class="link sub-menu__link fs-14"
                >Checkout</a
              >
            </li>
            <li class="sub-menu__list">
              <a routerLink="/sign-up" class="link sub-menu__link fs-14"
                >Sign Up</a
              >
            </li>
            <li class="sub-menu__list">
              <a routerLink="/forget-password" class="link sub-menu__link fs-14"
                >Forget Password</a
              >
            </li>
            <li class="sub-menu__list">
              <a routerLink="/error" class="link sub-menu__link fs-14">404</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-14" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item ms-lg-auto">
          <a routerLink="/shop" class="btn btn-primary rounded-1 text-white"
            ><span class="d-inline-block">Shop Now </span
            ><span class="d-inline-block"
              ><i class="bi bi-arrow-up-right"></i></span
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
