<div class="section-space-md-y">
  <div class="section-space-md-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6 text-center">
          <h2 class="h3">Shop By Categories</h2>
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-xxl-8">
        <ul
          class="list list-row flex-wrap gap-4 gap-xl-6 justify-content-center"
        >
          <li>
            <a routerLink="/shop" class="link w-30 h-30 card border-0 shadow"
              ><div class="card-body d-grid place-content-center text-center">
                <img
                  src="assets/img/icon-cat-1.png"
                  alt="image"
                  class="img-fluid mx-auto"
                />
                <span class="d-block mt-3 fs-14">Clothing</span>
              </div></a
            >
          </li>
          <li>
            <a routerLink="/shop" class="link w-30 h-30 card border-0 shadow"
              ><div class="card-body d-grid place-content-center text-center">
                <img
                  src="assets/img/icon-cat-2.png"
                  alt="image"
                  class="img-fluid mx-auto"
                />
                <span class="d-block mt-3 fs-14">Bags</span>
              </div></a
            >
          </li>
          <li>
            <a routerLink="/shop" class="link w-30 h-30 card border-0 shadow"
              ><div class="card-body d-grid place-content-center text-center">
                <img
                  src="assets/img/icon-cat-3.png"
                  alt="image"
                  class="img-fluid mx-auto"
                />
                <span class="d-block mt-3 fs-14">Watches</span>
              </div></a
            >
          </li>
          <li>
            <a routerLink="/shop" class="link w-30 h-30 card border-0 shadow"
              ><div class="card-body d-grid place-content-center text-center">
                <img
                  src="assets/img/icon-cat-4.png"
                  alt="image"
                  class="img-fluid mx-auto"
                />
                <span class="d-block mt-3 fs-14">Shoes</span>
              </div></a
            >
          </li>
          <li>
            <a routerLink="/shop" class="link w-30 h-30 card border-0 shadow"
              ><div class="card-body d-grid place-content-center text-center">
                <img
                  src="assets/img/icon-cat-5.png"
                  alt="image"
                  class="img-fluid mx-auto"
                />
                <span class="d-block mt-3 fs-14">Sunglasses</span>
              </div></a
            >
          </li>
          <li>
            <a routerLink="/shop" class="link w-30 h-30 card border-0 shadow"
              ><div class="card-body d-grid place-content-center text-center">
                <img
                  src="assets/img/icon-cat-6.png"
                  alt="image"
                  class="img-fluid mx-auto"
                />
                <span class="d-block mt-3 fs-14">Jewellery</span>
              </div></a
            >
          </li>
          <li>
            <a routerLink="/shop" class="link w-30 h-30 card border-0 shadow"
              ><div class="card-body d-grid place-content-center text-center">
                <img
                  src="assets/img/icon-cat-5.png"
                  alt="image"
                  class="img-fluid mx-auto"
                />
                <span class="d-block mt-3 fs-14">Skin Care</span>
              </div></a
            >
          </li>
          <li>
            <a routerLink="/shop" class="link w-30 h-30 card border-0 shadow"
              ><div class="card-body d-grid place-content-center text-center">
                <img
                  src="assets/img/icon-cat-7.png"
                  alt="image"
                  class="img-fluid mx-auto"
                />
                <span class="d-block mt-3 fs-14">Perfume</span>
              </div></a
            >
          </li>
          <li>
            <a routerLink="/shop" class="link w-30 h-30 card border-0 shadow"
              ><div class="card-body d-grid place-content-center text-center">
                <img
                  src="assets/img/icon-cat-8.png"
                  alt="image"
                  class="img-fluid mx-auto"
                />
                <span class="d-block mt-3 fs-14">Clothing</span>
              </div></a
            >
          </li>
          <li>
            <a routerLink="/shop" class="link w-30 h-30 card border-0 shadow"
              ><div class="card-body d-grid place-content-center text-center">
                <img
                  src="assets/img/icon-cat-9.png"
                  alt="image"
                  class="img-fluid mx-auto"
                />
                <span class="d-block mt-3 fs-14">Makeup</span>
              </div></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
