<div class="container">
  <div class="row">
    <div class="col-12">
      <div
        class="business-info-box bg-body rounded py-4 py-md-10 px-4 px-md-10 px-lg-15"
      >
        <div class="row g-4 align-items-center justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="d-flex align-items-center gap-4">
              <div class="flex-shrink-0">
                <img
                  src="assets/img/icon-pickup.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
              <div class="flex-grow-1">
                <h5 class="mb-1">Free Shipping</h5>
                <p class="mb-0">Free Shipping over $100</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="d-flex align-items-center gap-4">
              <div class="flex-shrink-0">
                <img
                  src="assets/img/icon-payment.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
              <div class="flex-grow-1">
                <h5 class="mb-1">Secure Payment</h5>
                <p class="mb-0">100% Secure Payment</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="d-flex align-items-center gap-4">
              <div class="flex-shrink-0">
                <img
                  src="assets/img/icon-headphone.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
              <div class="flex-grow-1">
                <h5 class="mb-1">24/7 Support</h5>
                <p class="mb-0">Support 24 Hours a Day</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
