<div class="swiper hero-3 hero-slider section-space-y position-relative">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="hero-slider__content">
        <div class="container">
          <div class="row g-4 align-items-center">
            <div class="col-lg-7">
              <span class="d-block ff-2">Shop the latest trends</span>
              <h1 class="display-1 fw-medium">
                The best look anytime anywhere
              </h1>
              <p class="mb-8 max-text-15">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, to Sed ut perspiciatis unde
                omnis iste natus error sitperspiciatis unde omnis .
              </p>
              <div class="d-flex align-items-center flex-wrap gap-4">
                <a
                  routerLink="/shop"
                  class="btn btn-dark btn-lg rounded-1 text-white"
                  ><span class="d-inline-block">Shop Now </span
                  ><span class="d-inline-block ms-2"
                    ><i class="bi bi-arrow-up-right"></i> </span></a
                ><a
                  routerLink="/shop"
                  class="btn btn-outline-dark btn-lg rounded-1"
                  ><span class="d-inline-block">What's Trending </span
                  ><span class="d-inline-block ms-2"
                    ><i class="bi bi-arrow-up-right"></i></span
                ></a>
              </div>
            </div>
            <div class="col-lg-5 d-none d-lg-block">
              <div class="hero-slider__img">
                <img
                  src="assets/img/hero-slider-img-2.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="hero-slider__content">
        <div class="container">
          <div class="row g-4 align-items-center">
            <div class="col-lg-7">
              <span class="d-block ff-2">Shop the latest trends</span>
              <h1 class="display-1 fw-medium">
                The best look anytime anywhere
              </h1>
              <p class="mb-8 max-text-15">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, to Sed ut perspiciatis unde
                omnis iste natus error sitperspiciatis unde omnis .
              </p>
              <div class="d-flex align-items-center flex-wrap gap-4">
                <a
                  routerLink="/shop"
                  class="btn btn-dark btn-lg rounded-1 text-white"
                  ><span class="d-inline-block">Shop Now </span
                  ><span class="d-inline-block ms-2"
                    ><i class="bi bi-arrow-up-right"></i> </span></a
                ><a
                  routerLink="/shop"
                  class="btn btn-outline-dark btn-lg rounded-1"
                  ><span class="d-inline-block">What's Trending </span
                  ><span class="d-inline-block ms-2"
                    ><i class="bi bi-arrow-up-right"></i></span
                ></a>
              </div>
            </div>
            <div class="col-lg-5 d-none d-lg-block">
              <div class="hero-slider__img">
                <img
                  src="assets/img/hero-slider-img-2.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="hero-slider__nav justify-content-lg-end mt-8 mt-lg-0 position-lg-absolute end-lg-20 end-xl-30 end-xxl-50 bottom-lg-20 bottom-xl-30"
        >
          <div class="swiper-button-prev hero-slider__prev fs-24">
            <i class="bi bi-arrow-left"></i>
          </div>
          <div class="swiper-button-next hero-slider__next fs-24">
            <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
