
<div class="auth-page auth-page--login section-space-y">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-6 col-xl-5 ms-lg-auto">
        <h2>Welcome Again 👋</h2>
        <p class="mb-12 text-body-secondary">Please login here</p>
        <form class="row g-4">
          <div class="col-12">
            <input
              type="email"
              class="form-control form-control-lg fs-14 bg-body-tertiary"
              placeholder="Email"
            />
          </div>
          <div class="col-12">
            <input
              type="password"
              class="form-control form-control-lg fs-14 bg-body-tertiary"
              placeholder="Password"
            />
          </div>
          <div class="col-12">
            <button type="button" class="btn btn-primary rounded-1 text-white">
              <span class="d-inline-block">Login </span
              ><span class="d-inline-block"
                ><i class="bi bi-arrow-up-right"></i
              ></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
