<div class="section-space-y">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-7 col-xl-6 text-center">
              <h2>No more items in your cart</h2>
              <p class="mb-6">
                The page you are looking for might have been removed had its name
                changed or is temporarily unavailable.
              </p>
              <a routerLink="/index-2" class="btn btn-primary rounded-1 text-white"
                ><span class="d-inline-block">Back to Home </span
                ><span class="d-inline-block"
                  ><i class="bi bi-arrow-up-right"></i></span
              ></a>
            </div>
          </div>
        </div>
      </div>