<div class="section-space-y">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="swiper feedback-slider-2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="text-center">
                <div class="mb-12">
                  <img
                    src="assets/img/icon-quote.png"
                    alt="image"
                    class="img-fluid"
                  />
                </div>
                <h3 class="mb-12">Check what clients<br />says about us</h3>
                <p class="max-text-20 mx-auto mb-8">
                  Loved my recent purchase from Trendy Threads! My dress arrived
                  quickly and looked exactly like the picture online. The fit
                  was perfect, and the quality seems great.'d definitely
                  recommend Trendy Threads for stylish and well-made clothes,
                  just be sure to double-check the return policy before
                  ordering.
                </p>
                <span class="d-block">- Miran Sodagolu</span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="text-center">
                <div class="mb-12">
                  <img
                    src="assets/img/icon-quote.png"
                    alt="image"
                    class="img-fluid"
                  />
                </div>
                <h3 class="mb-12">Check what clients<br />says about us</h3>
                <p class="max-text-20 mx-auto mb-8">
                  Loved my recent purchase from Trendy Threads! My dress arrived
                  quickly and looked exactly like the picture online. The fit
                  was perfect, and the quality seems great.'d definitely
                  recommend Trendy Threads for stylish and well-made clothes,
                  just be sure to double-check the return policy before
                  ordering.
                </p>
                <span class="d-block">- Miran Sodagolu</span>
              </div>
            </div>
          </div>
          <div
            class="swiper-button-prev slider-nav__prev feedback-slider-2__prev border border-dark rounded text-dark fs-24 hover:bg-dark hover:text-white transition"
          >
            <i class="bi bi-arrow-left"></i>
          </div>
          <div
            class="swiper-button-next slider-nav__next feedback-slider-2__next border border-dark rounded text-dark fs-24 hover:bg-dark hover:text-white transition"
          >
            <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
