<div class="section-space-y bg-body">
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-md-7">
        <span class="d-block">LIMITED OFFER</span>
        <h2>Deals of the Month</h2>
        <p class="mb-8 max-text-15">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, to Sed ut perspiciatis unde omnis
          iste natus error sitperspiciatis unde omnis .
        </p>
        <ul
          class="list list-row gap-4 flex-wrap countdown mb-12"
          data-date="2024/12/3 12:51:59"
        >
          <li>
            <div
              class="d-grid place-content-center w-20 h-20 border border-dark rounded-1 text-center"
            >
              <span class="h4 d-block mb-0 days"></span>
              <span class="d-block fs-14">Days</span>
            </div>
          </li>
          <li>
            <div
              class="d-grid place-content-center w-20 h-20 border border-dark rounded-1 text-center"
            >
              <span class="h4 d-block mb-0 hours"></span>
              <span class="d-block fs-14">Hours</span>
            </div>
          </li>
          <li>
            <div
              class="d-grid place-content-center w-20 h-20 border border-dark rounded-1 text-center"
            >
              <span class="h4 d-block mb-0 minutes"></span>
              <span class="d-block fs-14">Minutes</span>
            </div>
          </li>
          <li>
            <div
              class="d-grid place-content-center w-20 h-20 border border-dark rounded-1 text-center"
            >
              <span class="h4 d-block mb-0 seconds"></span>
              <span class="d-block fs-14">Seconds</span>
            </div>
          </li>
        </ul>
        <a routerLink="/shop" class="btn btn-dark rounded-0"
          ><span class="d-inline-block">View All Product</span>
          <span class="d-inline-block ms-1"
            ><i class="bi bi-arrow-up-right"></i></span
        ></a>
      </div>
      <div class="col-md-5 text-md-end">
        <img src="assets/img/offer-img.png" alt="image" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
