<div class="section-space-top section-space-md-bottom">
        <div class="section-space-md-bottom">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-6 text-center">
                        <h2 class="h3">Shop Collection</h2>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="shop-banner shop-banner--1">
                                <h4 class="mb-2">Exclusive Collection<br>For Women</h4><span class="d-block h6 mb-6">Up To <span class="text-primary">40%</span>
                                    Off </span><a routerLink="/shop" class="btn btn-outline-dark rounded-1"><span class="d-inline-block">Shop
                                        Now</span> <span class="d-inline-block ms-1"><i class="bi bi-arrow-up-right"></i></span></a></div>
                        </div>
                        <div class="col-12">
                            <div class="shop-banner shop-banner--2">
                                <h4 class="mb-2">Trending Collection<br>For Men</h4><span class="d-block h6 mb-6">Up To <span class="text-primary">40%</span>
                                    Off </span><a routerLink="/shop" class="btn btn-outline-dark rounded-1"><span class="d-inline-block">Shop
                                        Now</span> <span class="d-inline-block ms-1"><i class="bi bi-arrow-up-right"></i></span></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="shop-banner shop-banner--3">
                        <h4 class="mb-2">Exclusive Collection<br>For Women</h4><span class="d-block h6 mb-6">Up To <span class="text-primary">40%</span>
                            Off </span><a routerLink="/shop" class="btn btn-outline-dark rounded-1"><span class="d-inline-block">Shop
                                Now</span> <span class="d-inline-block ms-1"><i class="bi bi-arrow-up-right"></i></span></a></div>
                </div>
            </div>
        </div>
    </div>