<div class="footer-slider-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="swiper footer-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="text-center">
                <img
                  src="assets/img/footer-slider-img-1.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="text-center">
                <img
                  src="assets/img/footer-slider-img-2.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="text-center">
                <img
                  src="assets/img/footer-slider-img-3.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="text-center">
                <img
                  src="assets/img/footer-slider-img-4.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="text-center">
                <img
                  src="assets/img/footer-slider-img-2.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
