<div class="section-space-y banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Wishlist</h1>
        <ul class="list list-row gap-4 flex-wrap align-items-center">
          <li>
            <a
              routerLink="/index-2"
              class="link d-inline-block text-dark hover:text-primary"
              >Home</a
            >
          </li>
          <li class="text-center">
            <span class="d-inline-block"
              ><img src="assets/img/icon-star.png" alt="image" class="img-fluid"
            /></span>
          </li>
          <li>
            <a
              routerLink="/shop"
              class="link d-inline-block text-dark hover:text-primary"
              >Wishlist</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section-space-y">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table align-middle table-shrink-0">
            <thead>
              <tr>
                <th class="ff-2 fw-semibold">Image</th>
                <th class="ff-2 fw-semibold">Product Name</th>
                <th class="ff-2 fw-semibold">Qu.</th>
                <th class="ff-2 fw-semibold">Price</th>
                <th class="ff-2 fw-semibold">Add to Cart</th>
                <th class="ff-2 fw-semibold">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img
                    src="assets/img/wishlist-img-1.png"
                    alt="image"
                    class="img-fluid"
                  />
                </td>
                <td>Middy Sleeveless Dress</td>
                <td>
                  <div class="qty-btn">
                    <button
                      type="button"
                      class="qty-btn__decrease is-cart-decrement"
                    >
                      <i class="bi bi-dash"></i>
                    </button>
                    <input
                      type="text"
                      class="qty-btn__input form-control text-center"
                      value="0"
                    />
                    <button
                      type="button"
                      class="qty-btn__increase is-cart-increment"
                    >
                      <i class="bi bi-plus"></i>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="d-inline-block mb-0 h6 ff-2">$100</span>
                </td>
                <td>
                  <a
                    routerLink="/cart"
                    class="btn btn-dark rounded-1 text-white fs-14"
                    ><span class="d-inline-block">Add to Cart </span
                    ><span class="d-inline-block"
                      ><i class="bi bi-arrow-up-right"></i></span
                  ></a>
                </td>
                <td>
                  <button type="button" class="btn btn-icon">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <img
                    src="assets/img/wishlist-img-2.png"
                    alt="image"
                    class="img-fluid"
                  />
                </td>
                <td>Middy Sleeveless Dress</td>
                <td>
                  <div class="qty-btn">
                    <button
                      type="button"
                      class="qty-btn__decrease is-cart-decrement"
                    >
                      <i class="bi bi-dash"></i>
                    </button>
                    <input
                      type="text"
                      class="qty-btn__input form-control text-center"
                      value="0"
                    />
                    <button
                      type="button"
                      class="qty-btn__increase is-cart-increment"
                    >
                      <i class="bi bi-plus"></i>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="d-inline-block mb-0 h6 ff-2">$100</span>
                </td>
                <td>
                  <a
                    routerLink="/cart"
                    class="btn btn-dark rounded-1 text-white fs-14"
                    ><span class="d-inline-block">Add to Cart </span
                    ><span class="d-inline-block"
                      ><i class="bi bi-arrow-up-right"></i></span
                  ></a>
                </td>
                <td>
                  <button type="button" class="btn btn-icon">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <img
                    src="assets/img/wishlist-img-3.png"
                    alt="image"
                    class="img-fluid"
                  />
                </td>
                <td>Middy Sleeveless Dress</td>
                <td>
                  <div class="qty-btn">
                    <button
                      type="button"
                      class="qty-btn__decrease is-cart-decrement"
                    >
                      <i class="bi bi-dash"></i>
                    </button>
                    <input
                      type="text"
                      class="qty-btn__input form-control text-center"
                      value="0"
                    />
                    <button
                      type="button"
                      class="qty-btn__increase is-cart-increment"
                    >
                      <i class="bi bi-plus"></i>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="d-inline-block mb-0 h6 ff-2">$100</span>
                </td>
                <td>
                  <a
                    routerLink="/cart"
                    class="btn btn-dark rounded-1 text-white fs-14"
                    ><span class="d-inline-block">Add to Cart </span
                    ><span class="d-inline-block"
                      ><i class="bi bi-arrow-up-right"></i></span
                  ></a>
                </td>
                <td>
                  <button type="button" class="btn btn-icon">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <img
                    src="assets/img/wishlist-img-4.png"
                    alt="image"
                    class="img-fluid"
                  />
                </td>
                <td>Middy Sleeveless Dress</td>
                <td>
                  <div class="qty-btn">
                    <button
                      type="button"
                      class="qty-btn__decrease is-cart-decrement"
                    >
                      <i class="bi bi-dash"></i>
                    </button>
                    <input
                      type="text"
                      class="qty-btn__input form-control text-center"
                      value="0"
                    />
                    <button
                      type="button"
                      class="qty-btn__increase is-cart-increment"
                    >
                      <i class="bi bi-plus"></i>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="d-inline-block mb-0 h6 ff-2">$100</span>
                </td>
                <td>
                  <a
                    routerLink="/cart"
                    class="btn btn-dark rounded-1 text-white fs-14"
                    ><span class="d-inline-block">Add to Cart </span
                    ><span class="d-inline-block"
                      ><i class="bi bi-arrow-up-right"></i></span
                  ></a>
                </td>
                <td>
                  <button type="button" class="btn btn-icon">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
