* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}
.fit-wide {
  position: relative;
  overflow: hidden;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.background-wrap {
  position: relative;
}
.background-wrap.cloud-blue {
  background-color: #b0e0e9;
}
.background-wrap.white {
  background-color: #fff;
}
.title {
  position: relative;
  text-align: center;
  margin: 20px auto 10px;
}
.title--regular {
  font-family: "Roboto", Arial, sans-serif;
}
.title--size-large {
  font-size: 36px;
  line-height: 46px;
}
.title--size-semimedium {
  font-size: 20px;
  line-height: 28px;
}
.title--weight-normal {
  font-weight: 400;
}
.title--weight-bold {
  font-weight: 700;
}
.title--subtitle {
  padding-bottom: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
}
.error h1,
.error p {
  color: #226d7a;
}
.error--bg__cover {
  position: absolute;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
}
.error--shape__clouds svg {
  display: block;
}
.abstract-half-dot--circle {
  z-index: 0;
  position: absolute;
  left: 15em;
  right: 0;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.icon-graphic {
  z-index: 1;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .error--bg__cover {
    display: none;
  }
  .abstract-half-dot--circle {
    left: 0;
  }
}
