<div class="section-space-y banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Blog</h1>
        <ul class="list list-row gap-4 flex-wrap align-items-center">
          <li>
            <a
              routerLink="/index-2"
              class="link d-inline-block text-dark hover:text-primary"
              >Home</a
            >
          </li>
          <li class="text-center">
            <span class="d-inline-block"
              ><img src="assets/img/icon-star.png" alt="image" class="img-fluid"
            /></span>
          </li>
          <li>
            <a
              routerLink="/blog"
              class="link d-inline-block text-dark hover:text-primary"
              >Blog</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="section-space-y">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-5 col-lg-4">
        <div class="vstack gap-6 gap-xl-6">
          <div class="card border-0">
            <div class="card-body px-4 pb-4 pt-0 px-xl-6 pb-xl-6">
              <div class="d-flex newsletter-inputs">
                <input
                  type="text"
                  class="form-control fs-14 border-0 rounded-end-0 bg-body-tertiary"
                  placeholder="Search Here..."
                />
                <button
                  type="button"
                  class="btn btn-icon btn-primary fs-14 text-white rounded-start-0"
                >
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-body p-xl-6">
              <h5>Category</h5>
              <ul class="list gap-3">
                <li>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <a
                      routerLink="/shop"
                      class="link d-inline-block text-body hover:text-primary"
                      >Love Junction </a
                    ><span class="d-inline-block flex-shrink-0">(06)</span>
                  </div>
                </li>
                <li>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <a
                      routerLink="/shop"
                      class="link d-inline-block text-body hover:text-primary"
                      >Heartbeat Hub </a
                    ><span class="d-inline-block flex-shrink-0">(12)</span>
                  </div>
                </li>
                <li>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <a
                      routerLink="/shop"
                      class="link d-inline-block text-body hover:text-primary"
                      >Love Connect </a
                    ><span class="d-inline-block flex-shrink-0">(20)</span>
                  </div>
                </li>
                <li>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <a
                      routerLink="/shop"
                      class="link d-inline-block text-body hover:text-primary"
                      >Amour Avenue </a
                    ><span class="d-inline-block flex-shrink-0">(16)</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-body p-xl-6">
              <h5>Recent News</h5>
              <ul class="list list-flush list-review">
                <li>
                  <div class="d-flex gap-4">
                    <div class="flex-shrink-0">
                      <img
                        src="assets/img/recent-blog-img-1.png"
                        alt="image"
                        class="img-fluid"
                      />
                    </div>
                    <div class="flex-grow-1">
                      <a
                        href="blog-details-2.html"
                        class="link d-inline-block fw-bold text-dark hover:text-primary mb-1"
                        >Digital Transformation for Small Businesses </a
                      ><span class="d-inline-block fs-14 text-body-tertiary"
                        >02 Jan 2024</span
                      >
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex gap-4">
                    <div class="flex-shrink-0">
                      <img
                        src="assets/img/recent-blog-img-2.png"
                        alt="image"
                        class="img-fluid"
                      />
                    </div>
                    <div class="flex-grow-1">
                      <a
                        href="blog-details-2.html"
                        class="link d-inline-block fw-bold text-dark hover:text-primary mb-1"
                        >The Future of Augmented Reality to the Innovations. </a
                      ><span class="d-inline-block fs-14 text-body-tertiary"
                        >02 Jan 2024</span
                      >
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex gap-4">
                    <div class="flex-shrink-0">
                      <img
                        src="assets/img/recent-blog-img-3.png"
                        alt="image"
                        class="img-fluid"
                      />
                    </div>
                    <div class="flex-grow-1">
                      <a
                        href="blog-details-2.html"
                        class="link d-inline-block fw-bold text-dark hover:text-primary mb-1"
                        >The Power of Video Marketing: Engage, Educate. </a
                      ><span class="d-inline-block fs-14 text-body-tertiary"
                        >02 Jan 2024</span
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-body p-xl-6">
              <h5>Keywords</h5>
              <ul class="list list-row flex-wrap gap-2">
                <li>
                  <a
                    routerLink="/blog"
                    class="link d-inline-block py-2 px-4 fs-14 rounded-1 text-dark-emphasis bg-body-tertiary hover:bg-primary hover:text-white"
                    >Food</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/blog"
                    class="link d-inline-block py-2 px-4 fs-14 rounded-1 text-dark-emphasis bg-body-tertiary hover:bg-primary hover:text-white"
                    >Fresh</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/blog"
                    class="link d-inline-block py-2 px-4 fs-14 rounded-1 text-dark-emphasis bg-body-tertiary hover:bg-primary hover:text-white"
                    >Organic</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/blog"
                    class="link d-inline-block py-2 px-4 fs-14 rounded-1 text-dark-emphasis bg-body-tertiary hover:bg-primary hover:text-white"
                    >Vegetable</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/blog"
                    class="link d-inline-block py-2 px-4 fs-14 rounded-1 text-dark-emphasis bg-body-tertiary hover:bg-primary hover:text-white"
                    >Healthy Food</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/blog"
                    class="link d-inline-block py-2 px-4 fs-14 rounded-1 text-dark-emphasis bg-body-tertiary hover:bg-primary hover:text-white"
                    >Crop</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/blog"
                    class="link d-inline-block py-2 px-4 fs-14 rounded-1 text-dark-emphasis bg-body-tertiary hover:bg-primary hover:text-white"
                    >Harvest</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/blog"
                    class="link d-inline-block py-2 px-4 fs-14 rounded-1 text-dark-emphasis bg-body-tertiary hover:bg-primary hover:text-white"
                    >Plant</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-lg-8">
        <div class="row g-4">
          <div class="col-lg-6">
            <a href="blog-details.html" class="link d-block"
              ><img
                src="assets/img/blog-img-4.png"
                alt="image"
                class="img-fluid w-100"
            /></a>
            <div class="pt-8">
              <div class="d-flex align-items-center gap-2">
                <div class="d-flex align-items-center gap-2 flex-shrink-0">
                  <span class="d-block w-15 h-1px bg-dark"></span>
                  <span class="d-block fs-12">FASHION</span>
                </div>
                <div
                  class="w-1 h-1 rounded-circle flex-shrink-0 bg-dark bg-opacity-25"
                ></div>
                <span class="d-inline-block fs-12">Sep 19, 2024</span>
              </div>
              <h4 class="mt-4 mb-0 d-inline-block">
                <a
                  href="blog-details.html"
                  class="link d-inline-block text-dark hover:text-primary"
                  >Judges at the top United Nations court ordered</a
                >
              </h4>
            </div>
          </div>
          <div class="col-lg-6">
            <a href="blog-details.html" class="link d-block"
              ><img
                src="assets/img/blog-img-5.png"
                alt="image"
                class="img-fluid w-100"
            /></a>
            <div class="pt-8">
              <div class="d-flex align-items-center gap-2">
                <div class="d-flex align-items-center gap-2 flex-shrink-0">
                  <span class="d-block w-15 h-1px bg-dark"></span>
                  <span class="d-block fs-12">FASHION</span>
                </div>
                <div
                  class="w-1 h-1 rounded-circle flex-shrink-0 bg-dark bg-opacity-25"
                ></div>
                <span class="d-inline-block fs-12">Sep 19, 2024</span>
              </div>
              <h4 class="mt-4 mb-0 d-inline-block">
                <a
                  href="blog-details.html"
                  class="link d-inline-block text-dark hover:text-primary"
                  >Reading out the ruling by the International Court</a
                >
              </h4>
            </div>
          </div>
          <div class="col-lg-6">
            <a href="blog-details.html" class="link d-block"
              ><img
                src="assets/img/blog-img-6.png"
                alt="image"
                class="img-fluid w-100"
            /></a>
            <div class="pt-8">
              <div class="d-flex align-items-center gap-2">
                <div class="d-flex align-items-center gap-2 flex-shrink-0">
                  <span class="d-block w-15 h-1px bg-dark"></span>
                  <span class="d-block fs-12">FASHION</span>
                </div>
                <div
                  class="w-1 h-1 rounded-circle flex-shrink-0 bg-dark bg-opacity-25"
                ></div>
                <span class="d-inline-block fs-12">Sep 19, 2024</span>
              </div>
              <h4 class="mt-4 mb-0 d-inline-block">
                <a
                  href="blog-details.html"
                  class="link d-inline-block text-dark hover:text-primary"
                  >It was handed down a week after it was requested</a
                >
              </h4>
            </div>
          </div>
          <div class="col-lg-6">
            <a href="blog-details.html" class="link d-block"
              ><img
                src="assets/img/blog-img-11.png"
                alt="image"
                class="img-fluid w-100"
            /></a>
            <div class="pt-8">
              <div class="d-flex align-items-center gap-2">
                <div class="d-flex align-items-center gap-2 flex-shrink-0">
                  <span class="d-block w-15 h-1px bg-dark"></span>
                  <span class="d-block fs-12">FASHION</span>
                </div>
                <div
                  class="w-1 h-1 rounded-circle flex-shrink-0 bg-dark bg-opacity-25"
                ></div>
                <span class="d-inline-block fs-12">Sep 19, 2024</span>
              </div>
              <h4 class="mt-4 mb-0 d-inline-block">
                <a
                  href="blog-details.html"
                  class="link d-inline-block text-dark hover:text-primary"
                  >Judges at the top United Nations court ordered</a
                >
              </h4>
            </div>
          </div>
          <div class="col-lg-6">
            <a href="blog-details.html" class="link d-block"
              ><img
                src="assets/img/blog-img-5.png"
                alt="image"
                class="img-fluid w-100"
            /></a>
            <div class="pt-8">
              <div class="d-flex align-items-center gap-2">
                <div class="d-flex align-items-center gap-2 flex-shrink-0">
                  <span class="d-block w-15 h-1px bg-dark"></span>
                  <span class="d-block fs-12">FASHION</span>
                </div>
                <div
                  class="w-1 h-1 rounded-circle flex-shrink-0 bg-dark bg-opacity-25"
                ></div>
                <span class="d-inline-block fs-12">Sep 19, 2024</span>
              </div>
              <h4 class="mt-4 mb-0 d-inline-block">
                <a
                  href="blog-details.html"
                  class="link d-inline-block text-dark hover:text-primary"
                  >Reading out the ruling by the International Court</a
                >
              </h4>
            </div>
          </div>
          <div class="col-lg-6">
            <a href="blog-details.html" class="link d-block"
              ><img
                src="assets/img/blog-img-4.png"
                alt="image"
                class="img-fluid w-100"
            /></a>
            <div class="pt-8">
              <div class="d-flex align-items-center gap-2">
                <div class="d-flex align-items-center gap-2 flex-shrink-0">
                  <span class="d-block w-15 h-1px bg-dark"></span>
                  <span class="d-block fs-12">FASHION</span>
                </div>
                <div
                  class="w-1 h-1 rounded-circle flex-shrink-0 bg-dark bg-opacity-25"
                ></div>
                <span class="d-inline-block fs-12">Sep 19, 2024</span>
              </div>
              <h4 class="mt-4 mb-0 d-inline-block">
                <a
                  href="blog-details.html"
                  class="link d-inline-block text-dark hover:text-primary"
                  >Judges at the top United Nations court ordered</a
                >
              </h4>
            </div>
          </div>
          <div class="col-12 mt-15">
            <nav aria-label="Page navigation example">
              <ul
                class="pagination pagination-circle justify-content-center gap-3"
              >
                <li class="page-item">
                  <a class="page-link" href="#"
                    ><i class="bi bi-chevron-left"></i
                  ></a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#"
                    ><i class="bi bi-chevron-right"></i
                  ></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
