<div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-1">
      <div class="modal-body p-0">
        <div class="input-group flex-nowrap">
          <input type="text" class="form-control" placeholder="Search..." />
          <span class="input-group-text" id="addon-wrapping">
            <i class="bi bi-search"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

