<div class="section-space-md-top section-space-md-bottom">
  <div class="section-space-sm-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6 text-center">
          <h2 class="h3">Hot Categories</h2>
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul
          ngbNav
          #navHotCat="ngbNav"
          class="nav flex-nowrap tab-underline justify-content-md-center mb-8"
          role="tablist"
        >
          @for(category of hotCategories; track category.name) {
          <li ngbNavItem>
            <button
              ngbNavLink
              class="btn btn-sm active"
              aria-selected="true"
              role="tab"
            >
              {{ category.name }}
            </button>
            <ng-template ngbNavContent>
              <div class="tab-pane active" id="{{ category.name }}Category">
                <ul
                  class="list list-row justify-content-center flex-wrap gap-4 gap-xl-10 gap-xxl-15"
                >
                  @for(subCat of category.sub; track subCat.name) {
                  <li class="text-center">
                    <a
                      routerLink="/shop"
                      class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"
                      ><img
                        [src]="subCat.img"
                        alt="image"
                        class="img-fluid"
                      /> </a
                    ><a
                      routerLink="/shop"
                      class="link d-inline-block text-body hover:text-primary mt-4 fs-14"
                      >{{ subCat.text }}</a
                    >
                  </li>
                  }
                </ul>
              </div>
            </ng-template>
          </li>
          }
        </ul>
        <div [ngbNavOutlet]="navHotCat"></div>
      </div>
    </div>
  </div>
  <!-- <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="nav flex-nowrap tab-underline justify-content-md-center mb-8" role="tablist">
                        <li><button class="btn btn-sm active" data-bs-toggle="tab" data-bs-target="#manCategory" type="button"
                                aria-selected="true" role="tab">Man</button></li>
                        <li><button class="btn btn-sm" data-bs-toggle="tab" data-bs-target="#womenCategory" type="button" aria-selected="false"
                                tabindex="-1" role="tab">Women</button></li>
                        <li><button class="btn btn-sm" data-bs-toggle="tab" data-bs-target="#kidsCategory" type="button" aria-selected="false"
                                tabindex="-1" role="tab">Kids</button></li>
                        <li><button class="btn btn-sm" data-bs-toggle="tab" data-bs-target="#hipstarCategory" type="button" aria-selected="false"
                                tabindex="-1" role="tab">Hipstar</button></li>
                        <li><button class="btn btn-sm" data-bs-toggle="tab" data-bs-target="#urbancategory" type="button" aria-selected="false"
                                tabindex="-1" role="tab">Urban</button></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="manCategory">
                            <ul class="list list-row justify-content-center flex-wrap gap-4 gap-xl-10 gap-xxl-15">
                                <li class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-1.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">CLOTHING</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-2.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">BAGS</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-3.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">WATCHS</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-4.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">SHOES</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-5.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">ACCESSORIES</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-6.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">Skin Care</a></li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="womenCategory">
                            <ul class="list list-row justify-content-center flex-wrap gap-4 gap-xl-10 gap-xxl-15">
                                <li class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-4.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">SHOES</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-5.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">ACCESSORIES</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-6.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">Skin Care</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-1.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">CLOTHING</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-2.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">BAGS</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-3.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">WATCHS</a></li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="kidsCategory">
                            <ul class="list list-row justify-content-center flex-wrap gap-4 gap-xl-10 gap-xxl-15">
                                <li class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-1.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">CLOTHING</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-2.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">BAGS</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-3.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">WATCHS</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-4.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">SHOES</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-5.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">ACCESSORIES</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-6.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">Skin Care</a></li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="hipstarCategory">
                            <ul class="list list-row justify-content-center flex-wrap gap-4 gap-xl-10 gap-xxl-15">
                                <li class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-4.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">SHOES</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-5.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">ACCESSORIES</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-6.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">Skin Care</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-1.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">CLOTHING</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-2.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">BAGS</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-3.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">WATCHS</a></li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="urbancategory">
                            <ul class="list list-row justify-content-center flex-wrap gap-4 gap-xl-10 gap-xxl-15">
                                <li class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-1.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">CLOTHING</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-2.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">BAGS</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-3.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">WATCHS</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-4.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">SHOES</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-5.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">ACCESSORIES</a></li>
                                <li
                                    class="text-center"><a routerLink="/shop" class="link d-grid place-content-center w-30 h-30 rounded-circle bg-light"><img
                                            src="assets/img/category-img-6.png" alt="image" class="img-fluid"> </a><a routerLink="/shop"
                                        class="link d-inline-block text-body hover:text-primary mt-4 fs-14">Skin Care</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
</div>
